<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
	<a href="/">Home</a>
	<a href="/about/">About</a>
    <h1>Astro</h1>
	<h1>This is my first astro site</h1>
	<p>in this site i will post about the experiences i have had in computer science and the projects i have for the future, I want this to be out in the open for everyone to benefit</p>
	
  </body>
</html>